package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.service.IService;
import ${mainPath}.common.utils.PageUtils;
import com.itranswarp.crypto.candiess.api.query.QueryViewVo;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.Map;
import java.util.List;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    PageUtils queryPage(Map<String, Object> params);
    
    PageUtils queryPage(QueryViewVo<${className}Entity> queryViewVo);

	List<${className}Entity> download(QueryViewVo<${className}Entity> queryViewVo);
}

